// Color cube
$charade: #272b34;
$mandy: #ea4a56;
$white: #fefefe;
$mid-gray: #6b6b6c;
$bombay: #aeaeaf;
$roti: #bcaa44;
$aliports: #036dac;
$rusty-nail: #8e5c09;

//Median cut
$sungio: #de7272;
$tapa: #75726e;
$lynch: #7780a4;
$bali-hai: #859fb4;

//Material design
$jumbo: #737376;
$blue-zodiac: #0b2037;
$ebony-clay: #2d2d45;
$sorrell-brown: #c8ba7e;