// Color cube
$charade: #272b34;
$mandy: #ea4a56;
$white: #fefefe;
$mid-gray: #6b6b6c;
$bombay: #aeaeaf;
$roti: #bcaa44;
$aliports: #036dac;
$rusty-nail: #8e5c09;

//Median cut
$sungio: #de7272;
$tapa: #75726e;
$lynch: #7780a4;
$bali-hai: #859fb4;

//Material design
$jumbo: #737376;
$blue-zodiac: #0b2037;
$ebony-clay: #323844;
$sorrell-brown: #c8ba7e;

//Background-color
.bg-charade {
    background: $charade;
}

.bg-mandy {
    background: $mandy;
}

.bg-ebony-clay {
    background: $ebony-clay;
}

//Button
.btn-f {
    background: $mandy;
    border: 1px solid $mandy;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: small;
    color: $white;
    transition: 0.5s;

    &:hover {
        background-color: $white;
        color: $charade;
    }
}

.btn-e {
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: small;
    color: $white;
    transition: 0.5s;

    &:hover {
        background-color: $white;
        color: $charade;
    }
}

//Font
h1 {
    font-size: 7rem;
}

.serif {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

ul,
li, a {
    text-decoration: none;
}

// IMG
.logo {
    height: 100%;
    padding: 20px 0;
}